<p id="notice"><%= notice %></p>

<%= image_tag @member.photo.url(:medium) %>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @member.title %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>
<p>
  <strong>Company Name:</strong>
  <%= @member.company.name if @member.company %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
